<div class="file_list" style="">
    <#title info="附件列表"/>
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-4">
            <div class="form-group " id="fileDiv">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary " style="background-color: #20BE84" onclick="upload()" id="upload">
                        上传附件
                    </button>
                </div>
                <div class="submitDiv" style="display: none">
                    <input  type = "file" id="file" name="file"  multiple = "multiple" >
                </div>
            </div>
        </div>
    </div>
</div>
