<div id="waitwk" hidden>
    <div style="height: 15px"></div>
    <#title info="已验收待尾款" />
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4">
            <label style="margin-bottom: 2px" class="col-sm-5 control-label ">
                <p class="text-right "><strong><span class="text-primary" style="font-size: 13px;
            color: #4C4B4B;
            font-family: 微软雅黑;
            padding: 0;margin: 0;text-align: right">客户提供的尾款证明</span> <span class="text-danger"></span></strong></p>
            </label>
            <div class="col-sm-7" style="display: flex">
                <div>
                    <button type="button" class="btn btn-primary " style="background-color: #20BE84"
                            onclick="uploadFile(7)" id="uploadFile7">
                        选择文件
                    </button>
                </div>
                <div id="file_dom7" style="margin-left: 10px">

                </div>
            </div>
        </div>

    </div>
</div>

<script>

</script>